@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Poppins");
.page {
  padding: 2rem;
}

.dim, marquee, #profile.page .experience .position-date p {
  opacity: 0.7;
}

.bold, #profile.page .skills-wrapper .category {
  font-weight: bold;
}

.center {
  text-align: center;
}

.gone {
  display: none;
}

.small, #profile.page .experience .position-date p {
  font-size: 90%;
}

* {
  font-family: Nunito, monospace, serif;
}

* {
  font-family: Poppins, monospace, serif;
}

* {
  box-sizing: border-box;
  unicode-bidi: plaintext;
}

*:not(ol, ul, li) {
  margin: 0;
  padding: 0;
}

html {
  background: #FDFDFF;
}

body {
  box-shadow: 0 8px 32px 0 rgba(20, 118, 55, 0.1);
  color: #393D3F;
  max-width: 1280px;
  margin: auto;
  transition: color 0.5s, background-color 0.5s;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 768px) {
  body {
    margin: auto;
  }
}

header {
  place-content: space-between;
  padding: 1rem;
  display: flex;
  place-items: center;
}

h1:not(.default) {
  color: black;
  margin: 1rem auto;
  letter-spacing: 1px;
  font-size: 30px;
}

h2:not(.default) {
  color: black;
  margin: 1rem auto;
  letter-spacing: 1px;
  font-size: 24px;
}

h3:not(.default) {
  color: black;
}

h4:not(.default) {
  color: black;
}

h5:not(.default) {
  color: black;
}

h6:not(.default) {
  color: black;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
}
a:hover {
  scale: 1.1;
}

header p a {
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0 8px 32px 0 rgba(20, 118, 55, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  display: flex;
  place-content: start;
  place-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
}

#profile.page {
  line-height: 160%;
}
#profile.page h2 {
  letter-spacing: 2px;
  color: rgb(0, 117, 162);
  margin: 2rem auto;
}
#profile.page h2:not(:first-of-type) {
  margin-top: 4rem;
}
#profile.page .summary .statistics-article {
  margin: 0.5rem auto;
  border-radius: 1rem;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.0666666667);
  overflow: hidden;
}
#profile.page .summary .statistics-article,
#profile.page .summary .statistics-article div {
  display: flex;
  place-content: center;
  place-items: center;
  gap: 1px;
  flex-wrap: wrap;
}
#profile.page .summary .statistics-article div {
  flex-grow: 1;
  flex-basis: 250px;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
#profile.page .summary .statistics-article div .card-title {
  margin: 0;
}
#profile.page .summary .statistics-article div .card-title,
#profile.page .summary .statistics-article div .card-label {
  color: white;
}
@media screen and (max-width: 768px) {
  #profile.page .summary .statistics-article div {
    flex-direction: row;
    justify-content: start;
  }
}
#profile.page .experience {
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0 8px 32px 0 rgba(20, 118, 55, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border-radius: 0;
  margin: 1pt;
  padding: 1.5rem;
}
#profile.page .experience .position-date {
  display: flex;
  place-content: space-between;
  place-items: start;
  gap: 1rem;
  flex-wrap: wrap;
}
#profile.page .experience .company {
  display: inline-block;
  padding: 1pt 4pt;
  margin-top: 0.5rem;
  border-radius: 2pt;
  background: rgba(0, 117, 162, 0.1);
}
#profile.page .experience ul {
  margin: 1rem auto;
  padding: 0 2rem;
}
@media screen and (max-width: 768px) {
  #profile.page .experience {
    margin: 2rem auto;
  }
  #profile.page .experience .position-date {
    display: block;
  }
}
#profile.page .skills-wrapper .category {
  display: inline-block;
  color: rgb(0, 117, 162);
  margin: 0.35rem;
  letter-spacing: 0.75px;
}
@media screen and (min-width: 976px) {
  #profile.page .skills-wrapper {
    display: flex;
    place-content: start;
    place-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  #profile.page .skills-wrapper > * {
    flex-grow: 1;
  }
  #profile.page .skills-wrapper p {
    flex-grow: 1;
    flex-basis: 30vw;
  }
}

marquee {
  font-style: italic;
  padding: 0.5rem 0;
}/*# sourceMappingURL=style.css.map */