@import "global.css";
@import "custom.css";

/*! Structure */
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.left {
	padding: 1em;
}

.right {
	display: block;
}

/*! Elements */
.info {
	font-size: 1.5em;
	margin: 0.5em;
}

.name {
	color: #436f9a;
}

.desc {
	opacity: 0.7;
}

.cv {
	padding: 0.5em 1em;
	background: #f6951c;
	color: white;
}

.link {
	padding: 0.5em;
	background: transparent;
	color: #c7e2f6;
}

.link:hover {
	color: #436f9a;
}

.link:last-of-type {
	border-left: 1px dashed;
}

/*! Narrow screens */
@media screen and (max-width: 1000px) {
	.container {
		display: block;
	}

	.container,
	.left,
	.right {
		height: auto;
	}

	.left,
	.right {
		width: 100%;
	}

	.info {
		font-size: 1.1em;
	}
}
